body,
html {
    height: 100%;
}
body{
    background-color: #F6F3F2;
}

.navbar {
    background-color: #1E3342;
}

@media only screen and (max-width: 768px) {
    .pict {
        object-fit: cover;
        object-position: center;
    }

}

.navbar {
    padding: 15px;
    background-color: rgb(23, 29, 41);
}

.landing-pict {
    position: relative;
    color: white;
    height: 110vh;
}

.text-pict {
    position: absolute;
    top: 14.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text-pict p{
    margin-top:-12px;
}

.text-pict2 {
    font-size: 16px;
}
.text-pict-2{
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-pict {
/*    border: none;*/
    cursor: pointer;
    padding: 7px 12px;
    /*background-color: #f5f5f5;*/
    /*color: black;*/
    /*font-size: 12px;*/
    /*border-radius: 5px;*/
    font-size: 40px;
    /*text-transform: uppercase;*/
    /*display: inline-block;*/
    transition-duration: 0.2s;
    transition: 0.3;
    margin-top: -18px;
}

.btn-pict:hover {
    /*background-color: white;*/
    /*color: black;*/
    transition: 0.3;
    /*border: 2px solid #f44336;*/
    /*background-color: #53f44f;*/
    color: #53f44f;
}
.warna {
    color: black solid;
    font-weight: bold;
}

.warna1 {
    color: grey;
}
.animasi_teks {
    font-size: 33px;
    color: white;
    /* width: 740px; */
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* animation: tulis 7s steps(50, end) infinite; */
}
@keyframes tulis {
    from {
        width: 0;
    }
}
html {
    scroll-behavior: smooth;
}
#dua{
    display: none;
    cursor: pointer;
}
.aktif, .pil:hover {
    background-color: grey;
    color: white;
}

.pil{
    border-style: none;
    width: 30px;
    height: 30px;
} 
